APP_AES_KEY=0123456789abcdef0123456789abcdef
# Hoặc dùng tên khác nếu bạn muốn:
# AES_KEY=0123456789abcdef0123456789abcdef

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123456
DB_NAME=boko_db
