DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=

APP_AES_KEY=

# MoMo Payment Gateway Configuration
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_ENDPOINT=
MOMO_QUERY_URL=
MOMO_REDIRECT_URL=
MOMO_IPN_URL=

# VNPAY Sandbox Payment Gateway Configuration
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_BASE_URL=
VNPAY_API_URL=
VNPAY_RETURN_URL=
VNPAY_IPN_URL=

# PayPal Payment Gateway Configuration
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_MODE=